.post-list{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dashboard{
    width: 100%;
}

.post{
box-shadow: 0 3px 10px rgba(0,0,0,.16);
border-radius: 10px;
padding:15px;
background-color: white;
width: 100%;
margin-bottom: 20px
}
.post-header{
    display: flex;
    padding: 10px 20px;
    align-items: center;
}
.post-user-text {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    color: var(--blue)
}

.user-img{
    height: 80px;
    border-radius: 50%;
    margin-right: 20px
}

.post-date-text {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    color: var(--grey)
}
.post-body{
    display: flex;
    padding: 10px 20px;
    align-items: center;
}
.post-img{
    width: 100%;
}
.post-footer{
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
}
.post-bottons{
display: flex;
width: 100%;
justify-content: space-around;
}
.post-info{
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
}
.post-info-text{
    width: 100%;
}
.post-info-tags{
    width: 100%;
    display: flex;
    
}
.post-tag{
    color: var(--grey);
    border: 1px solid var(--grey);
    padding: 4px 15px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 8px;
}
.post-tag:hover{
    color: var(--blueb);
    border: 1px solid var(--blueb)
}

.likes{
  width: 30px;
  margin-right: 10px;
}
.comments{
    width: 30px;
    margin-right: 10px;
}
.Numero{
    display: flex;

}
.link {
    width: 30px;
    margin-right: 10px;
}
.ownercomments{
    display: flex;
    padding: 10px 20px;
    align-items: center;

}
.usuario{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    color: var(--blue);
    margin-right: 10px;
    

}
.picture{
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
.coment{
    display: flex;
    padding: 10px
}