:root{
--orange:#F2542D;
--blue:#2C497F;
--grey:#AAAAAA;
--black:#100B00;
--white:#F0FAFA;
--orangeb:#FF451F;
--blueb:#183495;

}
body{
background: var(--white)

}
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-header{
    width: 100%;
    height: 50px;
    background-color:grey;
    color: orange;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 10px rgb(65 65 65 / 20%);
    padding: 20px 50px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 0;
}

.main-content{
  width: 100%;
  display:flex;
  justify-content: flex-start;
  margin-top: 10px;


}

.content-sidebar{
  display: flex;
  width:25% ;

}

.content-dashboard{
  display: flex;
  width:50% ;
}